extends layout.pug

block header
    h1 A Message From Santa
    link(rel="stylesheet" href="/styles/thanksStyles.css")


block content
    .content-container
        .wide-container
            img(src="/media/judgeSanta.jpg" alt="Image of Santa by Jonathan Meath, CC BY-SA 2.5 <https://creativecommons.org/licenses/by-sa/2.5>, via Wikimedia Commons" width="100%")
            .message-container
                h2 Santa Says:
                p Hmmm.....
                if naughtyOrNice == nice
                    p #{currentChild.name}, you darling! You golden child! I see nothing but good in you!
                    p I polled the elves, and they agree that you are consummately #{currentChild.descriptor}.
                    p There are none that #{currentChild.job} quite like you do, I dare say!
                    p For being so good, here is a Christmas gift for you: 
                    img(src=giftImageSrc class="gift-image" alt=`Image from ${giftImageSrc}`)
                    h3 Merrrrry Christmas!!!
                    
                    
                else
                    p #{currentChild.name}, you impish scoundrel! You rube! I have seen your troublesome ways, and I do not like it!
                    p It may shock you to learn that you do not #{currentChild.job} as well as your hubris implies!
                    p You may indeed be #{currentChild.descriptor}, at least among your questionable friends. But a true child of goodness, you are not.
                    p Your credentials have been logged in the naughty list database. Instead of a #{currentChild.gift}, you get this pail of bituminous coal:
                    img(src="media/coal.jpg" class="gift-image" alt="Image of Coal by Thomas Bresson, CC BY 3.0 <https://creativecommons.org/licenses/by/3.0>, via Wikimedia Commons")
            
        h2(class="backButton"): a(href="/") Back